/*------------------------------------*\
  aside / components
\*------------------------------------*/


.aside {
      font-family: var(--font-primary);
      font-weight: 300;
      width: 20%;
}
.aside__item:first-child {
      padding-bottom: 30px;
}

.aside__item:not(:first-child) {
      padding: 30px 0;
}

.aside__item:not(:first-child)::before {
      display: block;
      height: 1px;
      background-color: rgba(153, 153, 153, 0.3);
      position: relative;
      top: -30px;
      width: 100%;
      content: "";
}

.aside__title {
      font-size: 15px;
      font-weight: 600;
      padding-bottom: 15px;
}

.aside__category__item {
      color: var(--color-black);
      margin-bottom: 7px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
}

