/*------------------------------------*\
  aside / components
\*------------------------------------*/


.aside {
      font-family: var(--font-primary);
      font-weight: 300;
      width: 20%;
}
.aside__item:first-child {
      padding-bottom: 30px;
}

.aside__item:not(:first-child) {
      padding: 30px 0;
}

.aside__item:not(:first-child)::before {
      /* border-bottom: 1px solid rgba(153, 153, 153, 0.3); */
      display: block;
      height: 1px;
      background-color: rgba(153, 153, 153, 0.3);
      position: relative;
      top: -30px;
      /* margin: 0 auto; */
      width: 100%;
      content: "";
}

.aside__title {
      font-size: 15px;
      font-weight: 600;
      padding-bottom: 15px;
}

.aside__category__item {
      color: var(--color-black);
      margin-bottom: 7px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
}
/* 
.aside__category__item input[type=checkbox]{
      margin-right: 10px;
      border: 2px solid red;
      outline: 2px solid red;
      cursor: pointer;

      

}

.aside__category__item label {
      cursor: pointer;
} */



/* checkbox */
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkbox input:checked ~ .checkbox__checkmark {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.checkbox input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}

.checkbox:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}

.checkbox:hover input:checked ~ .checkbox__checkmark {
  background-color: var(--color-primary);
}

.checkbox .checkbox__checkmark {
  position: absolute;
  top: 1.5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border: 1px solid var(--color-gray);
  transition: background-color 0.25s ease;
  border-radius: 3px;
}

.checkbox .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--color-white);
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox .checkbox__body {
  /* color: #333; */
  /* line-height: 1.4; */
  font-size: 14px;
  color: var(--color-black);
}


/* Remove default checkbox */
/*
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {  
  position: relative;
  overflow: hidden;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;

  -webkit-user-select: none; 
  -moz-user-select: none;
  -khtml-user-select: none; 
  -ms-user-select: none; 
}
*/

/* checkbox aspect */
/*
[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;

  -webkit-transition: .2s;
  transition: .2s;
}
*/
/* Unchecked styles */
/*
[type="checkbox"]:not(:checked) + label:before {
  top: 0px;
  width: 19px; height: 19px;
  border: 1px solid var(--color-gray);

  border-radius: 5px;
}

[type="checkbox"]:not(:checked) + label:after {
  top: 0px;
  width: 19px; height: 19px;
  border: 1px solid var(--color-gray);
  z-index: 0;

  border-radius: 5px;
}
*/

/* Checked styles */
/*
[type="checkbox"]:checked + label:before {
  top: 2px;
  width: 6px; height: 12px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);

  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;

  border-radius: 5px;
}
[type="checkbox"]:checked + label:after {
  top: 0px;
  width: 19px; height: 19px;
  border: 1px solid var(--color-gray);
  z-index: 0;

  border-radius: 5px;
}
*/

/* disabled checkbox */

/*
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  top: 0;
  box-shadow: none;
  background-color: #444;
  width: 19px; height: 19px;
  border: 3px solid #444;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
[type="checkbox"]:disabled + label {
  color: #555;
}
[type="checkbox"]:disabled:not(:checked) + label:hover:before {
  border-color: var(--color-gray);
}
*/