/*------------------------------------*\
  carousel / components
\*------------------------------------*/


.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-btn-img {
    width: 20%;
}

.owl-dots {
  display: none;
}

.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px !important;
  font-weight: bolder !important;
  display: flex;
}

.owl-prev {
  left: 6%;
}

.owl-next {
  right: 6%;
  justify-content: flex-end;
}

.btn--left, .btn--right {
  font-size: 20px;
  background-color: var(--color-secondary);
  color: var(--color-ivory);
  padding: 10px;
  border-radius: 50%;
  border: 0.5px solid var(--color-secondary);
  transition: background-color .3s ease-in-out,
              color .3s ease-in-out;
}



.btn--left:hover, .btn--right:hover {
  background-color: var(--color-primary);
  color: var(--color-ivory);
}


.owl-carousel .owl-stage-outer {
  height: 625px !important;
}

@media only screen and (min-width: 1400px) {
  .owl-carousel .owl-stage-outer {
    height: 700px !important;
  }
}