/*------------------------------------*\
  carousel / components
\*------------------------------------*/


.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    width: auto;
    /* height: 100%; */
}

.owl-btn-img {
    width: 20%;
}


.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px !important;
  font-weight: bolder !important;
  display: flex;
}

.owl-prev {
  left: 2%;
}

.owl-next {
  right: 2%;
  justify-content: flex-end;
}

.owl-btn-left, .owl-btn-right {
  font-size: 20px;
  background-color: var(--color-ivory);
  padding: 10px;
  border-radius: 50%;
  border: 0.5px solid rgba(153, 153, 153, 0.3);
  transition: background-color .3s ease-in-out;
}

.owl-btn-left:hover, .owl-btn-right:hover {
  background-color: rgba(207, 207, 207);
}


.owl-carousel .owl-stage-outer {
  height: 500px !important;
}