/*------------------------------------*\
  detail / components
\*------------------------------------*/

.detail__img-wrapper {
    width: 50%;
    
}

.detail__img {
    position: relative;
    height: 450px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-ivory);
}

.detail__img-enlarge {
    font-weight: 300;
    font-size: .8rem;
    color: #777;
    text-align: center;
    padding: 10px 0;
}

.detail__img-more {
    display: flex;
    justify-content: flex-start;
}

.detail__img-more-wrapper {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-ivory);
    border: 1px solid rgba(153, 153, 153, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.detail__img-more__item {
    width: 60px;
}

.detail__img-more-wrapper + .detail__img-more-wrapper {
    margin-left: 15px;
}

.detail__text-wrapper {
    width: 45%;
}

.detail__text-wrapper .product__title p {
    font-family: var(--font-secondary);
    font-size: 1.75rem;
    padding-bottom: calc(var(--space-base) * 2);
}

.detail__text-wrapper .product__registration-time p,
.detail__text-wrapper .product__bid p,
.detail__text-wrapper .product__bid-number p,
.detail__text-wrapper .product__closes-in-time {
    font-size: 1rem;
}

.detail__text-wrapper .product__registration-time {
    border-top: 1px solid rgba(153, 153, 153, 0.3);
    padding-top: calc(var(--space-base) * 2);
    padding-bottom: 0;
    line-height: 2;
}

.detail__text-wrapper .product__closes-in {
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    padding-bottom: calc(var(--space-base) * 2);
    line-height: 2;
}

.detail__text-wrapper .product__bid {
    line-height: 2;
    padding-top: calc(var(--space-base) * 2);
}


/* --------- detail info --------------- */

.detail__info {
    width: 70%;
}

.detail__info__desc {
    line-height: 2;
}

.detail__info__desc-text {
    font-weight: 300;
    font-size: 1rem;
}

.detail__info__desc-block {
    display: flex;
    justify-content: flex-start;
}

.detail__info__desc-block--left {
    /* color: var(--color-primary); */
    color: var(--color-secondary);
    margin-right: 5em;
}

.detail__info__desc-block--left p {
    font-weight: 300;
}

.detail__info__desc-block--right p {
    font-weight: 300;
}

/* ---------- shipment ------------- */
.detail__info__shipment {
    /* border-top: 1px solid rgba(153, 153, 153, 0.3); */
    /* border-bottom: 1px solid rgba(153, 153, 153, 0.3); */
    line-height: 2;
    position: relative;
}

.detail__info__shipment::before {
    display: block;
    height: 1px;
    background-color: rgba(153, 153, 153, 0.3);
    position: relative;
    top: -40px;
    margin: 0 auto;
    width: 143%;
    content: ""
}

.detail__info__shipment::after {
    display: block;
    height: 1px;
    background-color: rgba(153, 153, 153, 0.3);
    position: relative;
    bottom: -50px;
    margin: 0 auto;
    width: 143%;
    content: ""
}

.detail__info__shipment .detail__info__shipment--subtitle {
    font-weight: 400;
}

.detail__info__shipment p {
    font-weight: 300;
}

.detail__info__shipment--title, .detail__others--title {
    font-family: var(--font-secondary);
    font-size: 1.7rem;
}

/*------------ ce que les autres adorent ------------*/

.detail__others {
    margin-top: -10px;
}
.detail__others .product {
    background-color: white;
    cursor: pointer;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 7px 1px rgba(153,153,153,0.175);

    transition: all .3s ease-in-out;
}

.detail__others .product:hover {
    scale: 1.025;
    box-shadow: 0px 5px 7px 1px rgba(153,153,153,0.3);
}

.detail__others .product__image {
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-ivory);
}

.detail__others .product__text {
    height: 270px;
    padding: calc(var(--space-base)*1.5);
}

.detail__others .product__info__subtitle, .product__info__bid{
    font-weight: 400;
    color: var(--color-primary);
    text-transform: uppercase;
    line-height: 2;
    font-size: .9rem;
    letter-spacing: 1px;
}

.detail__others .product__info__bid {
    margin-top: 10px;
}

.detail__others .product__info__number {
    font-size: 1.1rem;
    font-weight: 600;
    /* line-height: 2.5; */
}
