/*------------------------------------*\
  colors / settings
\*------------------------------------*/


:root {
    --color-primary: #064C76;
    --color-secondary: #5A90AD;
    --color-white: #fff;
    --color-ivory: #F8F6F4;
    --color-gray: #999999;
    --color-black: #2A2C34;
}