/*------------------------------------*\
  btn / elements
\*------------------------------------*/

button {
  border: none;  
  background: none;
}

.btn--primary {
  padding: 10px 50px;
  border-radius: 15px;
  color: var(--color-white);
  background-color: var(--color-primary);
  font-weight: 600;

  transition: background-color .3s ease-in;
}

.btn--primary:hover {
  background-color: var(--color-secondary);
}

.btn--secondary {
  padding: 10px 50px;
  border-radius: 15px;
  color: var(--color-white);
  background-color: var(--color-secondary);
  font-weight: 600;

  transition: background-color .3s ease-in;
}

.btn--secondary:hover {
  background-color: var(--color-primary);
}

.btn--border {
  padding: 10px 20px;
  border: 1px solid var(--color-primary);
  width: fit-content;
  border-radius: 15px;
  color: var(--color-primary);
  transition: background-color .3s ease-in,
              color .3s ease-in

}

.btn--border:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--link {
  color: var(--color-primary);
}

.btn--link--gray {
  color: #777777;
}

.btn--link-icon {
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.btn--link:hover .btn--link-icon,
.btn--link-icon:hover,
.btn--link--gray:hover .btn--link-icon {
  transform: translateX(5px)
}

.btn--up {
  font-size: 20px;
  background-color: var(--color-ivory);
  padding: 7px 10px;
  border-radius: 50%;
  border: 0.5px solid rgba(153, 153, 153, 0.3);
  transition: background-color .3s ease-in-out,
              color .3s ease-in-out;
              margin-left: 10px;
}

.btn--up:hover {
  background-color: var(--color-primary);
  color: var(--color-ivory);
}
