/*------------------------------------*\
  nav / elements
\*------------------------------------*/

.nav--secondary {
    margin-top: calc(var(--space-base)*3);
    display: flex;
    justify-content: space-between;
}

